* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* height: 100vh; */
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    ;

}

.title {


    width: 600px;
    text-align: center;
}

h3 {
    color: hsl(234, 12%, 34%);
}

h1 {
    color: hsl(234, 12%, 34%);
    font-weight: 400;
    font-size: 40px;
}

p {
    color: hsl(212, 6%, 44%)
}

.main {

    display: flex;
    padding: 10px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
}

img {
    align-self: flex-end;
}

.supervisor {
    border-top: 4px solid hsl(180, 62%, 55%);
    flex: 1 1 600px;
    /* background-color: rgb(203, 229, 251); */
    border-radius: 5px;
    height: 250px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.doistres {
    height: 500px;
    gap: 20px;
    display: flex;
    flex-flow: column;
}

.teambuilder {
    border-top: 4px solid hsl(0, 78%, 62%);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    height: 250px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    flex: 1 1 50%;
    /* background-color: rgb(203, 229, 251); */
}

.karma {
    border-top: 4px solid hsl(34, 97%, 64%);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    height: 250px;
    flex: 1 1 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    padding: 20px;
    border-radius: 5px;
    /* background-color: rgb(203, 229, 251); */
}

.calc {
    border-top: 4px solid hsl(212, 86%, 64%);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    height: 250px;
    flex: 1 1 600px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    padding: 20px;
    border-radius: 5px;
    /* background-color: rgb(203, 229, 251); */
}

@media (max-width: 1000px) {
    body {
        display: flex;
        flex-flow: column nowrap;
        /* height: 100vh; */
        /* font-size: 10%; */
        gap: 20px;
    }

    .title {
        /* width: 10%; */
        /* flex: 1 1 50vh; */
        width: 300px;
        /* height: 20%; */
        letter-spacing: 3px;

    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }

    .main {
        width: 300px;
        height: 80%;
        /* background-color: rgb(180, 149, 149); */
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        /* flex: 1 1 100vh; */
        padding: 20px;
        gap: 20px;
        /* max-width: 300px; */
    }

    img {
        width: 60px;
    }

    .supervisor {
        flex: 1 1 200px;
        width: 100%;
    }

    .doistres {
        width: 100%;
        flex: 2 1 200px;
    }

    .teambuilder {
        flex: 1 1 200px;
    }

    .karma {
        flex: 1 1 200px;
    }

    .calc {
        width: 100%;
        flex: 1 1 200px;
    }
}